<div class="login-container" ng-controller="LoginCtrl">
	<div id="form" ng-show="!isSignedIn">
		<form data-abide>
			<div class="row">
				<div class="large-12 columns">
					<label>Username <small>required</small> <input type="text"
						ng-model="login.username" required />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label>Password <small>required</small><input
						type="password" ng-model="login.password" required />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<button class="button tiny" ng-click="signin()">Sign In</button>
				</div>
				<div class="large-8 columns">
					<input id="rememberMe" ng-model="login.rememberMe" type="checkbox"><label
						for="rememberMe">Remember Me</label>
				</div>
			</div>
		</form>
	</div>
	<div id="loginSuccess" ng-show="isSignedIn">You are signed in as
		{{fullName}}<button class="button tiny" ng-click="signout()">Sign Out</button></div>
</div>
